<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a [routerLink]="['/', 'characters']"class="nav-link" href="#">Characters</a>
            </li>
              <li class="nav-item">
                <a [routerLink]="['/', 'locations']"class="nav-link" href="#">Locations</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/', 'episodes']"class="nav-link" href="#">Episodes</a>
              </li>
          </ul>
                <!-- <app-search></app-search> -->
            </div>
      </nav>
</header>

