<br>
<div class="row">
    <div class="col-lg-12" style="padding-left: 60rem;">
        <form class="d-flex" role="search">
            <input                 
                class="form-control me-2" 
                name="Search" 
                type="search" 
                placeholder="Search" 
                [(ngModel)]="filteredString"
                >
        </form> 
    </div>
</div> 
    <div class="container-md" style="padding: 4rem; padding-bottom: 0rem; width: 800px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="card border-black mb-3" style="width: auto; height: auto; padding: 15px; background-color: lightsalmon">
                    <h3 class="card-title">Episodes</h3>
                    <ul *ngFor="let episode of (episodes$ | async).episodes | filter: filteredString" class="list-group">
                        <li class="list-group-item">
                            <div style="cursor: pointer"[routerLink]="['/', 'episodes','characters', episode.id | filter: filteredLocations]">
                                {{ episode.name }} 
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid"> 
  <div class="text-center">
   <div class="row">
    <div class="col-lg-12">
      <a class="list-group-item">
       <button [routerLink]="['/', 'characters']" type="button" class="btn btn-primary">BACK TO CHARACTERS LIST</button>
      </a>
    </div>
   </div>
  </div>
 </div>

 